header {
  background-color: var(--color-bg);
}

.header-logo {
  color: var(--color-text-secondary);
  font-family: "Caesar Dressing";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.header-title h2 {
  color: var(--color-text-main);
  font-family: "Caesar Dressing";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex: 1 0 0;
}
ul {
  display: flex;
  align-items: center;
  gap: 16px;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  border-radius: 2px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

nav ul li {
  margin: 0.5rem 0;
  font-family: "Bubbler One";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 768px) {
  nav ul {
    display: flex;
    flex-direction: column;
    color: var(--color-text-secondary);
    padding: 1rem;
    gap: 1rem;

    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.3s ease;
  }

  nav ul.active {
    max-height: 500px;
    opacity: 1;
  }

  .burger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 1001;
  }

  .burger div {
    width: 25px;
    height: 3px;

    border-radius: 2px;
    transition: 0.3s;
  }

  .burger.open div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .burger.open div:nth-child(2) {
    opacity: 0;
  }
  .burger.open div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
