* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  html {
    --color-bg: #bcbfc3;
    --color-text-main: #515050;
    --color-text-secondary: #000000;
  }
}

a {
  color: inherit;
}

img,
video {
  display: block;
  max-width: 305px;
  max-height: 216px;
  overflow: hidden;
}

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}
html {
  --color-bg: #5f0061;
  --color-text-main: #515050;
  --color-text-secondary: #000000;
}

html[data-theme="dark"] {
  --color-bg: #696a6c;
  --color-text-main: #f7f6f6;
  --color-text-secondary: #ffffff;
}

html[data-theme="light"] #light-mode-btn {
  display: none;
}

html[data-theme="dark"] #dark-mode-btn {
  display: none;
}

header {
  background-color: var(--color-bg);
}

.header-logo {
  color: var(--Text-secondary, #000);
  font-family: "Caesar Dressing";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.header-title h2 {
  color: var(--Text-main, #515050);
  font-family: "Caesar Dressing";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex: 1 0 0;
}

h4 {
  color: var(--Text-main, #515050);
  font-family: "Bubbler One";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
ul {
  display: flex;
  align-items: center;
  gap: 16px;
}
h5 {
  color: var(--Text-main, #515050);
  font-family: "Bubbler One";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.populaires {
  color: var(--Background, #fff);
  font-family: "Caesar Dressing";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.boutonb {
  display: flex;
  padding: 12px 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  background: var(--Blue, #279ef8);
}
.boutonj {
  border-radius: 8px;
  background: var(--Yellow, #f8af27);
  display: flex;
  padding: 12px 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
.boutonv {
  border-radius: 8px;
  background: var(--Green, #12965d);
  display: flex;
  padding: 12px 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
.boutonr {
  border-radius: 8px;
  background: var(--Red, #f82727);
  display: flex;
  padding: 12px 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
.populaire h2 {
  color: var(--Text-main, #515050);
  font-family: "Bubbler One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.populaire {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.titleblue {
  color: var(--Blue, #279ef8);
  font-family: "Caesar Dressing";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  padding: 8px 12px;
  align-items: flex-start;
  background: var(--Background, #fff);
  position: absolute;
  margin-top: -40px;
}

.titlegreen {
  color: var(--Green, #12965d);
  font-family: "Caesar Dressing";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  padding: 8px 12px;
  align-items: flex-start;
  background: var(--Background, #fff);
  position: absolute;
  margin-top: -40px;
}

.titlered {
  color: var(--Red, #f82727);
  font-family: "Caesar Dressing";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  padding: 8px 12px;
  align-items: flex-start;
  background: var(--Background, #fff);
  position: absolute;
  margin-top: -40px;
}

.titleyellow {
  color: var(--Yellow, #f8af27);
  font-family: "Caesar Dressing";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  padding: 8px 12px;
  align-items: flex-start;
  background: var(--Background, #fff);
  position: absolute;
  margin-top: -40px;
}

.cardblue {
  border-radius: 8px;
  border: 2px solid var(--Blue, #279ef8);
  background: var(--Background, #fff);
  overflow: hidden;
}

.cardred {
  border-radius: 8px;
  border: 2px solid var(--Red, #f82727);
  background: var(--Background, #fff);
  overflow: hidden;
}
.cardgreen {
  border-radius: 8px;
  border: 2px solid var(--Green, #12965d);
  background: var(--Background, #fff);
  overflow: hidden;
}

.cardyellow {
  border-radius: 8px;
  border: 2px solid var(--Yellow, #f8af27);
  background: var(--Background, #fff);
  overflow: hidden;
}

img {
  position: relative;
}

.spacing {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
}

.spacingtext {
  display: flex;
  padding: 12px;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-self: stretch;
}

.containersection h2 {
  color: var(--Text-main, #515050);
  font-family: "Caesar Dressing";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.containersection h3 {
  color: var(--Text-main, #515050);
  font-family: "Caesar Dressing";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.containersection p {
  color: var(--Text-main, #515050);
  font-family: "Bubbler One";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.containersection a {
  color: var(--Text-main, #515050);
  font-family: "Bubbler One";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: 17.5%; /* 3.5px */
  text-underline-position: from-font;
}

.fleche {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  justify-content: space-between;
}

.rectangle {
  display: flex;
  padding: 12px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px;
  border: 2px solid var(--Text-main, #515050);
}
